/*Lenguaje de estilos es CSS*/
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body{
	background-color: #eee;
	color: #333;
  /*font-family: 'Modern Antiqua', cursive;*/
  font-family: 'Indie Flower', cursive;
}
a{
	text-decoration: none;
	colo:dodgerblue;
}
a :hover{
	text-decoration: none;
	color:black;
}
img{
 	width: 70%
 }
 #navbar{
  	background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    
 }

 #navbar ul{
 	 list-style-type: none;
    margin: 0;
    padding: 0; 
 }
 .lista-s.{
  display: block;
 }
#navbar li{
	/*me pone los elementos del menu que estaban verticales - horizontales*/
 	float: left;
 }
 #navbar li a{
	/*Le doy un espacio de separacion a las opciones de meni*/
 	padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  color: aliceblue;

 }
 #navbar li.active a{

  /*Le doy un espacio de separacion a las opciones de meni*/
  /* Se creo la clase active para ejecutarse en el if del jquery de javaScript que colorea la pagina activa*/
  color: red;

 }
 /*Con hover hago dinamico el meni cuando paso el mouse cambia a 
 color coral con letra negra*/
  #navbar li a:hover{
  	background-color: coral;
  	color: black;
  }
  form{
    max-width: 750px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 auto;
  }
  form div{
    padding: 15px;
  }
  input{
    width:90%;
    display: block;
    /* Con este display block antes me pareceica nmbre y l frente el input,
     ahora aparece el nombre y el input debajo, asi queda mas organizadi.*/
  }
  button{
    width: 90%;
    height: 50px;
    padding: 15px;

  }
  .myicono{
  	color: aliceblue;
  	font-size: 1.5em;
  	padding: 10px;
  	display: none;
  }
/*  content es el id del div que me esta agrupando todo el contenido de 
la aplcacion despues de las opciones del menu.
Se reliaza un marco par todo esta agrupacion. */
#content{
	
	max-width: 1180px;
	position: relative;
	top: 80px;
	margin: 0 auto;
  background-color: #fff;
  padding: 2%;
}
/*  En esta seccion e le da un estlo de recuadro 
mas vistoso y suavisado al contenido del header */
#content header{
   height: 120px;
   padding: 10px 20px;
   background-color: #ddd;
   border-radius: 1em;
}
#principal{
  width: 40%;
  float: left;
  padding: 5px;
}
#secundario{
  width: 40%;
  float: left;
  padding: 5px;
}
#content aside{
  width: 20%;
  float: left;
  padding: 5px;
}
#content footer{
  /*borrado de los flags*/
  clear: both;
  width: 100%;
  background-color: #ddd;
  height: 100px;
  padding: 25px;
}
/*MEdia query:
Nos permite trabajar diseños responsive*/
@media screen and (max-width: 820px){
  /*Esta linea me evalua en cuanto esta el tamaño de l pantalla en pixeles y aplica los estilos definidos en la setiquetas.*/
  #content{
    padding: 0;
    max-width: 100%;
